@-webkit-keyframes fadeEffect {   
    from {transform: translateX(-800px);opacity: 0;}
    to {transform: translateX(0px);opacity: 1;} 
}
  
@keyframes fadeEffect {
    from {transform: translateX(-800px);opacity: 0;}
    to {transform: translateX(0px);opacity: 1;}
}