body,html{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
	overflow: auto;
}

::-webkit-scrollbar-track {
	background: white;
	border-radius:50px;
	overflow: auto;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
	overflow: auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerEssential{
    display:flex;
    flex-direction: column;
}

.follow{
    padding:20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyRightText{
    font-size: 18px;
    text-align: center;
    color: rgb(200,180,180);
    font-family: 'Poppins', sans-serif;
}

.follow img{
    width: 40px;
    margin:0 5px;
}

.email{
    text-align: center;
}

.email a{
    font-size: 14px;
    color: rgb(200,180,180);
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:640px){
    footer{
        margin:0 0 40px;
    }
}



