body,html{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
	overflow: auto;
}

::-webkit-scrollbar-track {
	background: white;
	border-radius:50px;
	overflow: auto;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
	overflow: auto;
}


