.currentPosition{
    font-family: 'Poppins', sans-serif;
}

.objectiveSpan{
    font-family: 'Poppins', sans-serif;
}

.tabcontent{
    display: none;
    width:100%;
    overflow: hidden;
    max-width:1280px;
    margin:0 auto;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.primaryButton{
    outline: none;
    color:white;
    border: none;
    background-color: #187bca;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s ease-in-out;
    font-weight: bold;
}

.secondaryButton{
    outline: none;
    border: 2px solid #187bca;
    color: #187bca;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.heroButtons .secondaryButton:hover{
    background-color:#187bca;
    color:white;
    cursor: pointer;
}

.tabsBanner{
    text-align: center;
}

.tabsBanner button.active{
    background-color: rgba(0,0,0,0.05);
}

@media only screen and (max-width:640px){
    .tabcontent{
        height:auto;
        width:100%;
        max-width: 350px;
    }

    .tabcontent .aboutBanner{
        width:100%;
        padding:40px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:14px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:14px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:10px;
        text-align: center;
    }

    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:14px; 
        padding: 10px 0;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:12px;
    }

    .hello figcaption{
        font-size:40px;
        padding:0px 20px;
    }

    .illustrationRight img{
        width:350px;
    }
}

@media only screen and (min-width:641px) and (max-width:768px){
    .tabcontent{
        height:auto;
        padding:100px 0px;
        width:100%;
        max-width: 700px;
    }

    .tabcontent .aboutBanner{
        width:100%;
        padding: 0 0 40px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .textLeft{
        flex: 1;
    }

    .heroButtons{
        padding:0px 40px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:10px;
        text-align: center;
    }

    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:18px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:14px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:600px;
    }
}

@media only screen and (min-width:769px) and (max-width:900px){

    .tabcontent{
        height:auto;
        padding:100px 0px;
        max-width: 850px;
        width:100%;
    }

    .tabcontent .aboutBanner{
        width:100%;
        height:100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .textLeft{
        flex: 1;
    }

    .heroButtons{
        padding:0px 40px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:10px;
        text-align: center;
    }

    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:18px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:14px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:600px;
    }
}

@media only screen and (min-width:901px) and (max-width:1024px){
    
    .tabcontent{
        height:auto;
        padding:100px 0px;
        max-width: 1000px;
        width: 100%;
    }

    .tabcontent .aboutBanner{
        width:100%;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .textLeft{
        flex: 1;
    }

    .heroButtons{
        padding:0px 40px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:10px;
        text-align: center;
    }

    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:18px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:14px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:700px;
        padding:50px 0 0 0;
    }
}

@media only screen and (min-width:1025px) and (max-width:1200px){

    .tabcontent{
        height:auto;
        padding:100px 0px;
        width:100%;
        max-width: 1100px;
    }

    .tabcontent .aboutBanner{
        width:100%;
        
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .textLeft{
        flex:1;
    }

    .hello{
        text-align: center;
        margin-bottom: 20px;
    }

    .heroButtons{
        padding:0px 100px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:20px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:20px;
        border-radius: 5px;
        margin:0px 20px;
    }


    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:20px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:18px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:600px;
        padding:60px 0 10px 0;
    }
}

@media only screen and (min-width:1200px) and (max-width:1399px){

    .tabcontent{
        height:auto;
        padding:100px 0px;
        max-width:1200px;
    }

    .tabcontent .aboutBanner{
        width:100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    .textLeft{
        flex:1;
    }

    .heroButtons{
        padding:0px 100px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    
    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:150px 0px 0px 0px;
    }

    .hello .subHeading{
        padding:0px 30px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:20px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:16px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:600px;
        padding:60px 0;
    }

}

@media only screen and (min-width:1400px){

    .tabcontent{
        padding:100px 0px;
    }

    .tabcontent .aboutBanner{
        width:100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    .textLeft{
        flex:1;
        max-width:700px;
    }

    .heroButtons .primaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .heroButtons .secondaryButton{
        padding: 10px 25px;
        font-size:18px;
        border-radius: 5px;
        margin:0px 20px;
    }

    .hello{
        padding:150px 0px 0px 0px;
    }

    .hello .subHeading{
        padding:0px 20px 20px 20px;
    }

    .subHeading .currentPosition{
        font-size:20px; 
        padding-bottom: 10px;
        font-weight: bold;
    }

    .subHeading .objectiveSpan{
        font-size:16px;
    }

    .hello figcaption{
        font-size:80px;
        padding:0px 20px;
        
    }

    .illustrationRight{
        flex: 1;
    }

    .illustrationRight img{
        width:600px;
        padding:80px 0;
    }



}