.projectCardSection{
    width:100%;
    margin:40px auto;
    position: relative;
}

.backgroundCardText{
    position: absolute;
    z-index: -1;
    opacity: 0.05;
    font-size: 250px;
    bottom:-80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transform: rotate(-90deg);
    text-align: right;
    width: 200px;
}

.projectCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:40px 0;
}

.projectCard{
    width:300px;
    background-color: white;
    padding:20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px 20px;
    border: 0.5px solid rgba(0,0,0,0.2);
}

.projectCardImage{
    text-align: center;
}

.projectCardImage img{
    width:250px;
}

.projectCardTitle{
    max-width: 250px;
    text-align: left;
    font-size: 30px;
    margin: 10px 0;
    
}

.projectCardButtons{
    margin:10px 0;
    display: flex;
    width: 100%;
    align-items: flex-start;
    max-width: 250px;
}

.projectCardButtons a{
    text-decoration: none;
}

.projectCardButtons img{
    width:30px;
}

.projectCardButtons button{
    padding:5px 15px;
    background-color: #187bca;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.4s ease-in-out;
}

.projectCardButtons button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}

.projectCardButtons button a{
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    color:white;
}

@media only screen and (max-width:640px){
    .backgroundCardText{
        display: none;
    }


    .projectCards{
        flex-direction: column;
    }

    .projectCard{
        width:300px;
    }

    .projectCardSection{
        margin:0 auto;
    }
}

@media only screen and (min-width:641px) and (max-width:768px){
    .backgroundCardText{
        display: none;
    }
}

@media only screen and (min-width:769px) and (max-width:900px){
    .backgroundCardText{
        display: none;
    }
}

@media only screen and (min-width:901px) and (max-width:1024px){
    .backgroundCardText{
        bottom:500px;
        width:250px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1200px){
    .backgroundCardText{
        width:200px;
    }
}